{% extends 'AppClientBundle::base.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
    {% include 'AppClientBundle::Page/modules/slideA.html.twig' %}
    {% include 'AppClientBundle::Page/modules/slideB.html.twig' %}
    <div class="row">
      <div class="col-xs-12">
        <div ng-view></div>
      </div>
    </div>

    <h3>Status</h3>
    <p>{% for line in status %}
        {{ line }}<br/>
    {% endfor %}</p>

  <script>var title="{{ title }}";</script>

{% endblock %}
