{% extends 'AppClientBundle::base.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
    <h1>Gestion de versionning</h1>
    <p>
      Bienvenu dans votre interface de versionning.
      Veuillez choisir un dépot dans votre menu de gauche.
      (Sinon ajoutez les dans la parties administration)
    </p>
{% endblock %}
