{% extends 'AppClientBundle::base.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
    <h1>Gestion de versionning</h1>
    <p>
      Bienvenue dans votre interface de versionning.<br/>
      Veuillez choisir un dépot dans votre menu de gauche.<br/>
      (Sinon ajoutez les dans la partie administration)<br/>
    </p>
{% endblock %}
