{% extends 'AppServerBundle::base.html.twig' %}

{% block content -%}
    <h1>Depot\Repository creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_depot') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
