<script type="text/ng-template" id="subview/status.html">
<h3>Status</h3>
<p>{% for line in gitrepo.getStatusOutput() %}
    {{ line }}<br/>
{% endfor %}</p>

<hr/>
<button class="btn btn-default" title="Pull Manuel" ng-click="pull();" >Pull Manuel</button>

<hr/>
<strong>Pull Automatique:</strong>
<div class="btn-group pull-right btn-toggle" id='btn_autopuller' >
  <button class="btn_pull_auto btn" id="puller_on" ng-click="setAutoPuller('on');" >
  ON</button>
  <button class="btn_pull_auto btn active btn-default btn-primary" id="puller_off" ng-click="setAutoPuller('off');">
  OFF</button>
  {% if repo.getAutoPuller() %}
      <script>changeColorButton($('.btn_pull_auto'));</script>
  {% endif %}
</div>

</script>
