{% extends 'AppClientBundle::base.html.twig' %}

{% block header_nav %}
  <a class="navbar-brand" href="{{ path('app_server_homepage',{}) }}" >Gestion GIT - Administration  </a>
  <a class="navbar-brand" style='float:right' href="{{ path('_home',{}) }}">Dépots</a>
  <!--<a class="navbar-brand" id='username_placeholder' onclick='changeUsername()' style='float:right'>UserName</a>-->
{% endblock %}

{% block sider_nav %}
  <li>
      <a href="{{ path('admin_depot_new') }}">
          Ajouter un depot
      </a>
  </li>
  {{ render(controller('AppClientBundle:Depot:list')) }}
{% endblock %}
